<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-links">
                <img src="/static/images/nail.png" alt="logo" class="logo-img">
                <a href="/"><span>ГЛАВНАЯ</span></a>
                <a href="/catalog"><span>УСЛУГИ</span></a>
                <a href="#"><span>ГАЛЕРЕЯ</span></a>
            </div>
            <div class="phone-wrapper">
                {% if username %}
                    <span class="material-symbols-outlined login-logo">account_circle</span>
                        <div class="profile-trigger">
                            <a href="#" class="username">{{ username }}</a>
                        </div>
                {% else %}
                    <span class="material-symbols-outlined">login</span>
                    <a href="/register" class="register-link">РЕГИСТРАЦИЯ</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section>
        <div class="left-cart">
            <div class="title-name">
               <h1>Корзина</h1>
                <p class="total-items">{{ total_items }} шт.</p>
            </div>
                {% for item in items %}
                <div class="cart-item">
                    <img src="{{ item.image }}" class="image-item">
                    <div class="information-item">
                        <h4 class="name-item">{{ item.name }}</h4>
                        <p class="about-item">{{ item.about }}</p>
                    </div>
                    <div class="count-item">
                        <p class="quantity-item">{{ item.quantity }} шт.</p>
                    </div>
                    <div class="price-item">
                        <p class="price-item">{{ item.price * item.quantity}} ₽</p>
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="right-cart">
            <div class="total-info">
                <p>Товары, {{ total_items }} шт.</p>
            </div>
            <div class="total-price">
                <span>Итого:</span>
                <span>{{ total_price }}₽</span>
            </div>
            <button type="submit" class="cart-btn">Заказать</button>
        </div>
    </section>
</body>
</html>